<div class="container">


  <nav>
    <ul class="pagination paginatonUl">
      <li class="page-item ">
        <a (click)="currentPage=currentPage-1;" [ngClass]="{disabled:currentPage===0}" class="page-link" href="#"
           tabindex="-1">Önceki</a>
      </li>
      <ng-container *ngFor="let image of images;let i =index;">
        <li *ngIf="PageIndex(i)"
            [ngClass]="{active:i===currentPage}"
            class="page-item">
          <a (click)="currentPage=i" class="page-link">{{i}}</a>
      </ng-container>
      <li class="page-item ">
        <a (click)="currentPage=currentPage+1;" [ngClass]="{disabled:currentPage===images.length-1}" class="page-link"
           href="#" tabindex="-1">Sonraki</a>
      </li>

    </ul>
  </nav>

  <div class="mainImage">
    <h4 [backgroundColor]="'green'" appFirst style="color:white">{{images[currentPage].title}}</h4>
    <img [src]="images[currentPage].url" alt="" class="Img">
  </div>
</div>
